<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLBHConnection"
			 connectionStrings="Server=.\SQLEXPRESS;Database=QLBH;Integgrated Security=True;MultipleActiveResultSets=True;TrustSreverCertificate=True"
			 providerNam="System.Data.SqlClient" />
	</connectionStrings>
</configuration>